---

const proyectos = [
    {
        name: "Task app CABJ",
        link: "https://task-app-client-six.vercel.app/",
        description:
            "Una aplicacion sencilla donde se permite crear un usuario y poder manejar tareas pendientes. Te permite crear, eliminar y modificar estados de cada tarea.",
        image: "../TaskApp.jpg",
        tecno: [
            { icon: "../icons/html-5-svgrepo-com.svg" },
            { icon: "../icons/css-3-svgrepo-com.svg" },
            { icon: "../icons/javascript-svgrepo-com.svg" },
            { icon: "../icons/github-color-svgrepo-com.svg" },
            { icon: "../icons/mongodb-svgrepo-com.svg" },
            { icon: "../icons/node-js-svgrepo-com.svg" },
            { icon: "../icons/react-svgrepo-com.svg" },
            { icon: "../icons/vite-svgrepo-com.svg" },
        ],
    },
    {
        name: "Master Bakery",
        link: "https://master-bakery-react.vercel.app/",
        description:
            "Pagina Web de practica para un local de venta de productos de pasteleria.",
        image: "../masterBakery.jpg",
        tecno: [
            { icon: "../icons/html-5-svgrepo-com.svg" },
            { icon: "../icons/css-3-svgrepo-com.svg" },
            { icon: "../icons/javascript-svgrepo-com.svg" },
            { icon: "../icons/github-color-svgrepo-com.svg" },
            { icon: "../icons/react-svgrepo-com.svg" },
            { icon: "../icons/vite-svgrepo-com.svg" }
        ],
    },
];
---

<div
    id="default-carousel"
    class="relative w-full lg:mt-3"
    data-carousel="slide"
>
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Items -->
        {
            proyectos.map((p) => (
                <div
                    class="hidden duration-700  ease-in-out group  "
                    data-carousel-item
                >
                    <a href={p.link}>
                        <img
                            src={p.image}
                            class="absolute opacity-70  block w-full -translate-x-1/2 group-hover:opacity-100 -translate-y-1/2 top-1/2 left-1/2  "
                            alt={p.image}
                        />
                        <h3 class="absolute p-3 lg:p-5 text-yellow-200 font-bold md:text-lg lg:text-xl">
                            {p.name}
                        </h3>
                        <div class="absolute flex justify-end items-end z-30 h-full w-full gap-3  lg:gap-5 p-4 ">
                            {p.tecno.map((t) => (
                                <img
                                    class=" size-6 lg:size-10"
                                    src={t.icon}
                                    alt={t.icon}
                                />
                            ))}
                        </div>
                    </a>
                </div>
            ))
        }
    </div>
    <!-- Slider controls -->
    <button
        type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
    >
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
            <svg
                class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 1 1 5l4 4"></path>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button
        type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
    >
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
            <svg
                class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"></path>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
